<!-- Home#Index -->
  <section id="two">
    <div class="container">
      <header class="major">
        <h2>Graded</h2>
        <p>Create transparency.<br />
        Make the grade.</p>
      </header>
      <p>Open communication around schools, classrooms, and teachers, empowers parents and strengthens their voices. In a world where parent choice controversially creates the dynamics of our classrooms, all have the right and need to be informed. High quality education is a right.<br /> Graded helps make it a reality.</p>
    </div>
  </section>
