
<h1>New Review</h1>

<%= render "form" %>

<% if params[:school_id] %>
  <%= link_to 'Back', school_path(@school) %>
<% elsif params[:teacher_id] %>
  <%= link_to 'Back', school_teacher_path(@teacher.school_id, @teacher) %>
<% end %>
